.grid-elem {
    display: grid;
    grid-template-columns: 40px 200px;
    column-gap: 20px;
    &__img {
        position: relative;
        @include before_circle_grid;
        padding: 14px 0 0 16px;
    }
    &__descr {
        font-size: 12px;
        font-weight: 500;
        margin-top: 6px;
    }
}