.hamburger {
    display: block;
    position: absolute;
    height: 21px;
    right: 30px;
    top: 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    transform: translateY(-65%);
    span {
        display: block;
        height: 3px;
        width: 30px ;
        background: #151812;
        transition: 0.4s all;
    }
    span.long {
        width: 36px;
    }
    &_active {
        span {
            margin-bottom: 3px;
            &:nth-child(1) {
                transform: translateY(8px) rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(4px) rotate(45deg);
            }
        }
    }
}