.policy {
    padding: 60px 10px 10px 30px;
    &__list {
        &-title {
            padding-top: 10px;
        }
    }
    &__sublist {
        padding-left: 40px;
    }
    &__link {
        display: block;
        text-align: center;
        text-decoration: underline;
        &:hover {
            color: #007bff;;
        }
    }
}