.title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 166.667% */
    &_fs48 {
        font-size: 48px;
    }
    &_fs20 {
        font-size: 20px;
        line-height: normal;
    }
    &_fs16 {
        font-size: 16px;
        line-height: normal;
    }
    &_fs14 {
        font-size: 14px;
        line-height: normal;
    }
    &_fs12 {
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
    }
    &__section-title {
        position: relative;
        text-align: center;
        @include before_circle_center;
    }
    &__section-subtitle {
        text-align: center;
    }
}



